.footer{
  background-color: #50595d;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 50px;
  margin-top: 50px;
}

.social-media-icons{
  text-decoration: none;
  font-size: 40px;
  word-spacing: 0.5em;
  padding-bottom: 10px;

}

.social-media-icons a{
  color: lightgray;
  transition: 0.5s;
}

.social-media-icons a:hover{
  color: black;
  transform: scale(1.05);
}
